@import "chat_bar.css";

/*
@import 是引入外部的 css，以更加方便的编写和控制样式文件
 css 中设置了背景色、边框色，以及四个圆角的大小 4p
 */

#chat{
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-color: white;
}