<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itstack.naive.chat.infrastructure.dao.IChatRecordDao">

    <select id="queryUserChatRecordList" resultType="chatRecord">
        select userId, friendId, msgContent, msgDate, msgType
        from chat_record
        where talkType = 0 and (userId = #{userId} and friendId = #{talkId})
           or (userId = #{talkId} and friendId = #{userId})
        order by msgDate desc
        limit 10
    </select>
    <select id="queryGroupChatRecordList" resultType="chatRecord">
        select userId, friendId, msgContent, msgDate, msgType
        from chat_record
        where talkType = 1 and friendId = #{talkId}
        order by msgDate desc
        limit 10
    </select>
    <insert id="appendChatRecord" parameterType="chatRecord">
        insert into chat_record (userId, friendId, msgContent, msgType, talkType, msgDate, createTime, updateTime)
        values
        (#{userId}, #{friendId}, #{msgContent}, #{msgType}, #{talkType}, #{msgDate}, now(), now())
    </insert>
</mapper>